* {
    box-sizing: border-box;
}

main {
    background-color: bisque;
    height: 100vh;
    display: flex;
    font-family: monospace;
    font-size: 16px;
}

form {
    width: 300px;
    background-color: aqua;
    padding: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);